.movies__header {
    background-color: #202020;
}

@media screen and (min-width: 769px){
    .movies__header {
        justify-content: flex-start;        }
}

@media screen and (min-width: 769px){
    .header__burger-logo {
        display: none;
    }
}

.movies {
    margin: auto;
    max-width: 93.75%;
    background: #202020;
}

.movies__more-button {
    width: 100%;
    height: 36px;
    background: #2F2F2F;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 1141px){
    .movies__more-button {
        width: 1140px;
    }
}

.movies__more-button:hover {
    opacity: 0.8;
}

.movies_nothing-found {
    color: #FFFFFF;
    font-size: large;
}

.movies__more-button_disabled {
    display: none;
}