.profile {
    margin: auto;
    max-width: 93.75%;
    background-color: #202020;
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .profile {
        max-width: 92.19%;
    }
}

@media screen and (min-width: 1280px) {
    .profile {
        max-width: 1140px;
    }
}

.greeting {
    margin: 70px 0 77px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .greeting {
        margin: 236px 0 96px;
    }
}

@media screen and (min-width: 769px) {
    .greeting {
        margin: 74px 0 120px;
    }
}

.profile__form {
    max-width: 260px;
    margin: auto;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .profile__form {
        min-width: 410px;
    }
}

@media screen and (min-width: 769px) {
    .profile__form {
        max-width: 410px;
    }
}

.profile__info {
    text-align: right;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 11px;
    color: #FFFFFF;
    line-height: 13px;
    background-color: #202020;
}

@media screen and (min-width: 769px) {
    .profile__info {
        font-size: 11px;
    }
}

.profile__border {
    background: #424242;
    min-width: 260px;
    margin: 15px 0 13px;
}

.profile__input {
    float: right;
}

.profile__button {
    text-decoration: none;
    justify-content: center;
    border: 0;
    background-color: #202020;
    font-weight: 400;
    line-height: 15px;
    margin: 379px auto 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
}

button.profile__save-button {
    margin: 379px auto 0;
}

@media screen and (min-width: 600px) {

    button.profile__save-button,
    .profile__button {
        font-size: 13px;
        line-height: 16px;
        margin: 210px auto 0;
    }
}

@media screen and (min-width: 769px) {

    button.profile__save-button,
    .profile__button {
        margin: 220px auto 0;
    }
}

.profile__button-logout {
    margin-top: 0;
    color: #EE3465;
    padding: 16px 0 40px;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .profile__button-logout {
        padding: 16px 0 269px;
    }
}

@media screen and (min-width: 769px) {
    .profile__button-logout {
        padding: 16px 0 70px;
    }
}

.profile__error {
    display: flex;
}