.search-form {
    padding: 61px 10px 10px;
    background: #202020;
}

@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form {
        padding: 80px 30px 10px;
    }
}

@media screen and (min-width: 769px){
    .search-form {
        padding: 70px 70px 10px 70px ;
    }
}

@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form__form {
        background-color: #222222;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        display: flex;
        align-items: center;
        margin: 0 0 109px;
        padding: 16px 0;
    }
}

@media screen and (min-width: 769px){
    .search-form__form {
        background-color: #222222;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        display: flex;
        align-items: center;
        margin: 0 0 69px 0;
        padding: 16px 0;
    }
}

.search-form__invisible-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.search-form__visible-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    margin: 0 13px 45px 0;
}

@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form__visible-checkbox {
        margin: 0 15px 0 16px;    }
}

@media screen and (min-width: 769px){
    .search-form__visible-checkbox {
        margin: 0 14px 0 29px;    }
}

.search-form__invisible-checkbox:checked + .search-form__visible-checkbox {
    background: url(../../images/search-form__checkbox.svg);
}

.search-form__invisible-checkbox:disabled + .search-form__visible-checkbox {
    border: solid grey 1px;
    background: url(../../images/search-form__checkbox0.svg);
}

.search-form__invisible-checkbox + .search-form__visible-checkbox {
    border: solid grey 1px;
    background: url(../../images/search-form__checkbox1.svg);
    cursor: pointer;
}

.search-form__invisible-checkbox:focus + .search-form__visible-checkbox {
    box-shadow: 0 0 5px #717170;
}

.search-form__button {
    cursor: pointer;
    padding: 8px 10.35px;
    font-weight: 500;
    line-height: 18px;
    font-size: 11px;
    border-radius: 20px;
    width: 65px;
    height: 34px;
    background: #4285F4;
    border: none;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px){
    .search-form__button {
        margin-right: 19px;
    }
}

.search-form__input {
    cursor: pointer;
    width: 46.87%;
    padding: 0;
    border: none;
    background-color: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form__input {
        width: 39.06%;
    }
}

@media screen and (min-width: 769px){
    .search-form__input {
        width: 61.56%;
    }
}


@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form__search-icon {
        margin: 0 10px 0 19px;
        width: 34px;
        height: 34px;
        background-image: url(../../images/search-form__search-icon.svg);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 769px){
    .search-form__search-icon {
        margin: 0 10px 0 19px;
        width: 34px;
        height: 34px;
        background-image: url(../../images/search-form__search-icon.svg);
        background-repeat: no-repeat;
    }
}

.search-form__input-container {
    padding: 0 19px 0;
    margin: 19px 0 46px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 262px;
    min-height: 72px;
    border-radius: 9px;
    background-color: #222222;
}



@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form__input-container {
        margin: 0;
        border-right: solid 1px #505050;
        border-radius: 0;
        padding: 0;
        width:54.42%;
        min-height: 40px;
        }
}

@media screen and (min-width: 769px){
    .search-form__input-container {
        margin: 0;
        border-right: solid 1px #505050;
        border-radius: 0;
        padding: 0;
        width: 64.92%;
        min-height: 40px;
        }
}


.search-form__styling-checkbox {
    font-size: 11px;
    color: #FFFFFF;
    line-height: 18px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 769px){
    .search-form__styling-checkbox {
        align-items: center;
        font-size: 13px;
    }
}

.search-form__border {
    background-color: #424242;
}

@media screen and (max-width: 768px) and (min-width: 600px){
    .search-form__border {
        max-width: 708px;
    }
}
