@media screen and (max-width: 768px) and (min-width: 600px) {
    .login__input {
        max-width: 396px;
    }
}

button.login__button {
    margin: 260px 0 14px;
}

@media screen and (max-width: 768px) and (min-width: 574px) {
    button.login__button {
        margin: 169px 0 16px;
    }
}

@media screen and (min-width: 769px) {
    button.login__button {
        margin: 179px 0 16px;
    }
}